---
import Layout from "../layouts/Layout.astro";
---

<Layout>

<main class="min-h-screen flex items-center justify-center">

<div class="text-center">

<h1 class="text-4xl font-bold">
Autoscuola Racing
</h1>

<p class="mt-4 text-lg">
Favaro Veneto • Salzano
</p>

</div>

</main>

</Layout>