---
import "../styles/global.css";
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Autoscuola Racing</title>
  </head>

  <body>
    <slot />
  </body>
</html>