---
interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<details class="rounded-2xl border border-black/10 bg-white p-5">
  <summary class="cursor-pointer list-none font-semibold">
    {question}
  </summary>
  <p class="mt-4 text-sm leading-6 text-black/70">
    {answer}
  </p>
</details>